.filters {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

.filter {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border: 1px solid #656565;
  border-radius: 4px;
  margin-right: 18px;

  &Inner {
    border-radius: 4px;
    width: 14px;
    height: 14px;
  }

  &:hover {
    border-color: #E71575;

    &Inner {
      background: #E71575;
    }
  }
}


[data-is-selected=true] .checkbox {
  border-color: #E71575;

  &Inner {
    background: #E71575;
  }
}
