.navigation {
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
  padding: 16px;

  &Title {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #4A4A4A;
    margin: 0;
    margin-bottom: 12px;
  }
}