html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 870px;
  margin: 0 auto;
  padding: 16px;
}